In [1]:
# import pandas as pd
# import numpy as np
# df=pd.read_csv('CNN44_60_0.16_0.2_480_40_03-03-2021 16_38_28.csv',sep=';')
# df.shape
# df.columns
# s=int(0.75*df.shape[0])
# trim=df.iloc[:s]
# data=np.array(trim['Value'])
# a=data**2
# m=np.mean(a)
# rms=np.sqrt(m)
# print('RMS=',rms)
# maxi=np.max(data)
# mini=np.min(data)
# print('maxi=',maxi)
# print('mini=',mini)
# diff=maxi-mini
# print('Peak to peak=',diff)
# print('Mean=',np.mean(data))

In [2]:
# s=int(0.75*df.shape[0])
# print(int(s))

In [3]:
# import os
# arr = os.listdir()
# arr = arr[2:62]
# arr[0]

In [4]:
# rms_arr = []
# max_arr = []
# mean_arr = []
# min_arr = []
# ptop_arr = []

# for i in range(0, 60):
#     df_1 =pd.read_csv(arr[i],sep=';')
#     s=int(0.75*df.shape[0])
#     trim=df_1.iloc[:s]
#     data=np.array(trim['Value'])
#     a=data**2
#     m=np.mean(a)
#     rms=np.sqrt(m)
#     rms_arr.append(rms)
# #     print('RMS=',rms)
#     maxi=np.max(data)
#     mini=np.min(data)
#     max_arr.append(maxi)
#     min_arr.append(mini)
# #     print('maxi=',maxi)
# #     print('mini=',mini)
#     diff=maxi-mini
#     ptop_arr.append(diff)
#     mean_arr.append(np.mean(data))
# #     print('Peak to peak=',diff)
# #     print('Mean=',np.mean(data))

In [5]:
'''rms_arr = np.array(rms_arr)
min_arr = np.array(min_arr)
max_arr = np.array(max_arr)
ptop_arr = np.array(ptop_arr)
mean_arr = np.array(mean_arr)'''
# rms_arr
# min_arr
# max_arr
# ptop_arr
# mean_arr
'''list3 = zip(rms_arr, min_arr, max_arr, mean_arr, ptop_arr)
df_1 = pd.DataFrame(list3, columns = ('RMS', 'MIN_I', 'MAX_I', 'MEAN', 'P2P'))
df_1'''
# df_1.to_excel('D:/Internship 2021/Project Data and Codes/Lathe Vibration Project Data/Classification_data.xlsx', sheet_name='Sheet1') uncomment the line when needed

"list3 = zip(rms_arr, min_arr, max_arr, mean_arr, ptop_arr)\ndf_1 = pd.DataFrame(list3, columns = ('RMS', 'MIN_I', 'MAX_I', 'MEAN', 'P2P'))\ndf_1"

In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import confusion_matrix, classification_report
import seaborn as sn
import matplotlib.pyplot as plt

In [27]:
df = pd.read_excel('D:/Internship 2021/Project Data and Codes/Lathe Vibration Project Data/Classification_data.xlsx')
type(df)
df.head()

,EXP_NO,RMS,MIN_I,MAX_I,MEAN,P2P,STATUS,LABEL
0,0,369.778456,-412.006744,-324.709839,-369.685592,87.296905,1,NORMAL
1,1,369.435434,-427.049622,-311.159180,-369.361992,115.890442,1,NORMAL
2,2,369.370142,-405.845154,-328.079437,-369.276471,77.765717,1,NORMAL
3,3,369.372960,-406.037720,-327.020416,-369.272910,79.017304,1,NORMAL
4,4,369.222165,-457.929657,-237.918365,-369.154709,220.011292,1,NORMAL

In [28]:
X = df[['RMS']]
y = df[['STATUS']]
X.head()

          RMS
0  369.778456
1  369.435434
2  369.370142
3  369.372960
4  369.222165

In [29]:
y.head()

   STATUS
0       1
1       1
2       1
3       1
4       1

In [30]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.10,random_state=0)
X_train.head()

           RMS
34  369.051396
58  369.881261
40  369.660894
22  369.909567
4   369.222165

In [31]:
logistic_regression= LogisticRegression()
model = logistic_regression.fit(X_train,y_train)

d:\python 3.9\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [32]:
model.classes_

array([0, 1], dtype=int64)

In [33]:
model.intercept_

array([3.00529739e-05])

In [34]:
model.coef_

array([[0.01071933]])

In [45]:
model.predict_proba(X_test)

array([[0.01872653, 0.98127347],
       [0.01879088, 0.98120912],
       [0.01863758, 0.98136242],
       [0.01873046, 0.98126954],
       [0.01846284, 0.98153716],
       [0.01871694, 0.98128306]])

In [35]:
y_pred=logistic_regression.predict(X_test)

In [36]:
y_pred

array([1, 1, 1, 1, 1, 1], dtype=int64)

In [37]:
metrics.confusion_matrix(y_test, y_pred)

array([[6]], dtype=int64)

In [38]:
print('Accuracy: ',metrics.accuracy_score(y_test, y_pred))
plt.show()

Accuracy:  1.0

In [44]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         6

    accuracy                           1.00         6
   macro avg       1.00      1.00      1.00         6
weighted avg       1.00      1.00      1.00         6